# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
/scalajs/target
/common/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
